*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*---Header---*/
.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #101010;
    font-family: 'Poppins';
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
   
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 38px;
}
.logo_container img {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 25px;
}
.nav{
    float: right;
    height: 100%;
}

.nav a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 18px;
}

.nav a:last-child{
    padding-right: 0;
}
.nav a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: ;
    font-size: 22px;
}

/*---Scoots Main Page---*/

.scoots-container{
    width: 100%;
    height: 100vh;
    background-image: url(cozumel.avif);
    background-size: cover;
    background-position: center;
    padding: 20px 10%;
}

.scoots-content{
    margin-top: 10%;
}

.scoots-content h2{
    font-size: 34px;
    color: red;
}

.scoots-content h1{
    font-size: 100px;
    margin-top: -25px;
    color: white;
}

.scoots-content p{
    max-width: 380px;
    font-weight: 500;
    font-size: 14px;
    color: white;
}

.scoots-content h3{
    margin-top: 30px;
    font-weight: 600;
    font-size: 24px;
    color: white;
}
/*---Footer---*/

.footspa{
    width: 100%;
    height: 43px;
    display: block;
    background-color: #101010;
    font-family: 'Poppins';
}

.inner_footer{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.icons a{
    text-decoration: none;
    color: #fff;
}
.footspa ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.footspa ion-icon:hover{
    color: #ff7200;
}

.socials ion-icon{
    height: 100%;
    display: table;
    float: right;
}

/*---Contact Us----*/

.contactus{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Poppins';

}

.contactform{
    max-width: 800px;
    text-align: center;
}

.contactform h2{
    font-size: 36px;
    font-weight: 450;
    color: black;
}

.contactform p{
    font-weight: 250;
    color: black;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.box{
    position: relative;
    padding: 18px;
    display: flex;
}

.box .icon{
    min-width: 60px;
    height: 60ox;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 26px;
}

.box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 250;
}

iframe{
    width: 100%;
    height: 280px;
    padding-top: 25px;
}

.box .text h3{
    font-weight: 500;
    color: red;
}

.fillform{
    width: 40%;
    padding: 40px;
}

.fillform h2{
    font-size: 30px;
    color: black;
    font-weight: 450;
}

.fillform .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.fillform .inputBox input,
.fillform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 50px 0;
    border: none;
    border-bottom: 3px solid black;
    outline: none;
    resize: none;
}

.fillform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
}

.fillform .inputBox input[type="submit"]{
    width: 300px;
    background: #00bcd0;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px){
    .contactus{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .contactInfo{
        margin-bottom: 40px;
    }
    .contactInfo, .contactform{
        width: 100%;
    }
}

/*---Reserve Form---*/
.reserve{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reserveform{
    background-color: rgba(255,255,255,0.7);
    padding: 20px;
    border-radius: 10px;
    max-width: 850px;
    width: 80%;
    margin: 0 auto;
}

.reserveform h1{
    text-align: center;
}

.app fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
    width: 95%;
  }
  
  .app legend {
    color: black;
    padding: 0 .5rem;
  }
  
  .app label {
    display: block;
    padding-top: 1rem;
    color: black;
    font-size: .9rem;
  }
  
  .app input[type="text"],
  .app input[type="password"],
  .app input[type="email"],
  .app input[type="tel"],
  .app select {
    background-color: white;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 750px;
    appearance: none;
  }
  
  .app input[type="submit"] {
    border: none;
    background-image: linear-gradient(blue, darkblue);
    color: white;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
  }
  
  .app input:required {
    border-bottom:  solid 5px red;
  }
  
  .app input:required:valid {
    border-bottom: solid 5px green;
  }

  .rental-container {
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1, .container h2 {
    text-align: center;
}

.section {
    margin-bottom: 20px;
}

.section li,p{
    margin-top: 20px;
    font-size: 20px;
}

.section h3{
    font-size: 35px;
    font-weight: bold;
}

.signature {
    margin-top: 40px;
}

.signature label {
    font-weight: bold;
}

.signature input[type="text"], 
.signature input[type="date"],
.signature textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.signature::after {
    content: "";
    display: block;
    clear: both;
}

.signature .left {
    float: left;
    width: 45%;
}

.signature .right {
    float: right;
    width: 45%;
}

@media screen and (max-width: 768px) {
    .rental-container {
      padding: 20px; 
    }
  
    .section h3 {
      font-size: 24px; 
    }
  
    .section li,
    .section p {
      font-size: 16px; 
    }
  
    .signature .left {
      width: 100%; 
    }
  }
  
  
/*---Rentals---*/

.rentals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    gap: 20px;
  }
  
  .rental-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
  }
  
  .rental-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .rental-item h3 {
    margin-top: 0;
  }
  
  .rental-item table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .rental-item th,
  .rental-item td {
    padding: 5px;
    border: 1px solid #ddd;
  }

  .rental-item img {
    width: 300px;
    height: 300px; 
    object-fit: cover; 
  }