/* CSS for styling */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0400ff;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}
header p {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}
section {
    padding: 50px 20px;
    text-align: center;
}
section h2 {
    margin-bottom: 20px;
}
section p {
    font-size: 16px;
    line-height: 1.5;
}
section ul, section ol {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding-left: 0;
}
section li {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}
footer {
    background-color: black;
    color: gold;
    padding: 20px;
    text-align: center;
}
